<div class="container mt-5">
    <h2>Scegli abbonamento</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <button (click)="abbonati('mensile')" class="btn btn-primary btn-block">Mensile</button>
        </div>
        <div class="col-md-4">
            <button (click)="abbonati('semestre')" class="btn btn-primary btn-block">Semestrale</button>
        </div>
        <div class="col-md-4">
            <button (click)="abbonati('annuale')" class="btn btn-primary btn-block">Annuale</button>
        </div>
    </div>
</div>