<div class="container mt-5">
    <h2>Scegli abbonamento</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <button (click)="abbonati('MENSILE')" class="btn btn-primary btn-block">Mensile</button>
        </div>
        <div class="col-md-4">
            <button (click)="abbonati('SEMESTRALE')" class="btn btn-primary btn-block">Semestrale</button>
        </div>
        <div class="col-md-4">
            <button (click)="abbonati('ANNUALE')" class="btn btn-primary btn-block">Annuale</button>
        </div>
    </div>
</div>