#saldoAttuale{
    margin-left: 4rem;
}
#conto{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

img{
    width: 30%;
    height: auto;
}
.containermaialino {
    position: relative;
    text-align: center;
    color: black;
    margin-left: -3rem;
  }
body{
    background-image: none;
}

.card {
    border: transparent !important;
    display: flex !important;
    margin: 2rem !important;
}

.card-body{
    border-color: darkgreen !important;
    border-style: solid !important;
    border-radius: 1rem;
    background-color: white;
}

.btn-primary{
    background-color: darkkhaki;
    border: none;
}

.btn-secondary{
    background-color: darkkhaki;
    border:none;
    border-radius: 50%;
    display: inline-block;
    margin: 1rem;
    width: 3.75rem;
    height: 3.75rem;
}