.textWidget {
    border-radius: 3%;
    background-color: lightgray;
    text-align: start;
    padding: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 2rem;
}