<div class="container">
    <div class="row mt-5 mb-5 pr-4">
        <div class="col-lg-8">
            <div id="firstWidget">
                <div id="chartContainer2" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="textWidget">
                <p>In questo grafico a torta è possibile visualizzare la percentuale dell'utilizzo delle bici per fascia oraria nell'arco della giornata. Le quattro fasce orarie considerate sono: 00:00-06:00, 06:00-12:00, 12:00-18:00, 18:00-24:00.
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-5 pr-4 mb-5">
        <div class="col-lg-3">
            <div class="textWidget">
                <p>In questo istogramma è possibile visualizzare le statistiche riguardanti il numero di bici utilizzate per rastrelliera.
                </p>
            </div>
        </div>

        <div class="col-lg-8">
            <div id="secondWidget">
                <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
            </div>
        </div>
    </div>
</div>