<div class="row pb-5 pt-5">
    <div class="col-lg-6 pr-5 pl-4">
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <caption></caption>
                                <thead>
                                    <tr class="row100 head">
                                        <th scope="col" class="cell100 column11">Id</th>
                                        <th scope="col" class="cell100 column12">Tipologia</th>
                                        <th scope="col" class="cell100 column13">Ripara</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <caption></caption>
                                <thead>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                </thead>
                                <tbody>
                                    <tr class="row100 body" *ngFor="let one_bici of biciDaRiparare">
                                        <td class="cell100 column11">{{one_bici.id}}</td>
                                        <td class="cell100 column12">{{one_bici.tipologia}}</td>
                                        <td class="cell100 column13">
                                            <button class="btn btn-success" (click)="ripara(one_bici.id)">Ripara</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 pl-5 ">
        <div class="limiter ">
            <div class="container-table100 ">
                <div class="wrap-table100 ">
                    <div class="table100 ver1 m-b-110 ">
                        <div class="table100-head ">
                            <table>
                                <caption></caption>
                                <thead>
                                    <tr class="row100 head ">
                                        <th scope="col " class="cell100 column1 ">Rastrelliera</th>
                                        <th scope="col " class="cell100 column2 ">Numero bici</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table100-body js-pscroll ">
                            <table>
                                <caption></caption>
                                <thead>
                                    <th scope="col "></th>
                                    <th scope="col "></th>
                                </thead>
                                <tbody>
                                    <tr class="row100 body " *ngFor="let rastrelliera of rastrelliere ">
                                        <td class="cell100 column1 ">{{rastrelliera.posizione}}</td>
                                        <td class="cell100 column2 ">{{rastrelliera.numBici}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pb-5 ">
    <div class="col-lg-7 pr-5 pl-4 ">
    </div>
    <div class="col-lg-4 pl-5 ">
        <div>
            <button class="btn btn-primary " class="btnSubmit " (click)="rialloca() ">Rialloca</button>
        </div>
    </div>
</div>
<script>
    $('.js-pscroll').each(function() {
        var ps = new PerfectScrollbar(this);

        $(window).on('resize', function() {
            ps.update();
        })
    });
</script>