<div class="container">
    <div class="row pb-4 pt-5">
        <div class="col-lg-5 pr-5">
            <div class="table-responsive" id="firstTable">
                <h2>Ripara</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Tipologia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let one_bici of bici">
                            <td>{{one_bici.id}}</td>
                            <td>{{one_bici.tipologia}}</td>
                            <td> <button class="btn btn-success" (click)="ripara(one_bici.id)"
                                    style="margin-left: 20px;">Ripara</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 pl-5">
            <div class="table-responsive" id="secondTable">
                <h2>Rialloca</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Rastrelliera</th>
                            <th scope="col">Numero bici</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rastrelliera of rastrelliere">
                            <td>{{rastrelliera.posizione}}</td>
                            <td>{{rastrelliera.numBici}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" (click)="rialloca()" *ngIf="this._manutenzioneService.validaRialloca()"
                    class="btn btn-primary">Rialloca</button>
            </div>
        </div>
    </div>
</div>