<div class="container">
   <div class="container">
      <table class="table table-striped">
         <thead>
            <tr>
               <th>Rastrelliera Inizio</th>
               <th>Rastrelliera Fine</th>
               <th>Ora Inizio</th>
               <th>Ora Fine</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let prenotazione of prenotazioni">
               <td>{{prenotazione.posizioneInizio}}</td>
               <td>{{prenotazione.posizioneFine}}</td>
               <td>{{prenotazione.oraInizio}}</td>
               <td>{{prenotazione.oraFine}}</td>
               <td> <button class="btn btn-danger" (click)="termina(prenotazione.id)" *ngIf="!!_bikeService.inCorso(prenotazione.statoPrenotazione)"
                     style="margin-left: 20px;">Termina</button></td>
               <td> <button class="btn btn-success" (click)="inizia(prenotazione.id)" *ngIf="!!_bikeService.daIniziare(prenotazione.statoPrenotazione)"
                     style="margin-left: 20px;">Inizia</button></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>