<div class="container" id="addPadding">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Rastrelliera Inizio</th>
                    <th scope="col">Rastrelliera Fine</th>
                    <th scope="col">Ora Inizio</th>
                    <th scope="col">Ora Fine</th>
                    <th scope="col">Importo</th>
                    <th scope="col">Stato</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prenotazione of prenotazioni">
                    <td>{{prenotazione.posizioneInizio}}</td>
                    <td>{{prenotazione.posizioneFine}}</td>
                    <td>{{prenotazione.oraInizio}}</td>
                    <td>{{prenotazione.oraFine}}</td>
                    <div class='row' [ngSwitch]="prenotazione.importo">
                        <div *ngSwitchCase="0">Gratis</div>
                        <div *ngSwitchDefault>{{prenotazione.importo}}</div>
                    </div>
                    <td *ngIf="!!_bikeService.passata(prenotazione.statoPrenotazione)">Passata</td>
                    <td> <button class="btn btn-danger" (click)="termina(prenotazione.idPrenotazione)" *ngIf="!!_bikeService.inCorso(prenotazione.statoPrenotazione)" style="margin-left: 20px;">Termina</button></td>
                    <td> <button class="btn btn-success" (click)="inizia(prenotazione.idPrenotazione)" *ngIf="!!_bikeService.daIniziare(prenotazione.statoPrenotazione, prenotazione.oraInizio)" style="margin-left: 20px;">Inizia</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>