<div id="n" class="jumbotron">
    <div id="wrapper" class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Tipologia</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let one_bici of bici">
                    <th scope="row">{{one_bici.id}}</th>
                    <td>{{one_bici.tipologia}}</td>
                    <td> <button class="btn btn-success" (click)="ripara(one_bici.id)" style="margin-left: 20px;">Inizia</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="n" class="jumbotron">
    <div id="wrapper" class="container-fluid">
        <button type="button" (click)="rialloca()" *ngIf="this._manutenzioneService.validaRialloca()" class="btn btn-primary btn-lg btn-block">Rialloca</button>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Rastrelliera</th>
                    <th scope="col">Numero bici</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rastrelliera of rastrelliere">
                    <th scope="row">{{rastrelliera.posizione}}</th>
                    <td>{{rastrelliera.numBici}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>