<div>
    <h4>Il tuo saldo è<span class="badge badge-secondary">{{conto}}</span></h4>
</div>

<div class="container mt-5">
    <h2>Ricarica Conto</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <button (click)="ricarica(5)" class="btn btn-primary btn-block">Ricarica 5.00 €</button>
        </div>
        <div class="col-md-4">
            <button (click)="ricarica(10)" class="btn btn-primary btn-block">Ricarica 10.00 €</button>
        </div>
        <div class="col-md-4">
            <button (click)="ricarica(20)" class="btn btn-primary btn-block">Ricarica 20.00 €</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <button (click)="ricarica(30)" class="btn btn-primary btn-block">Ricarica 30.00 €</button>
        </div>

        <div class="col-md-4">
            <button (click)="ricarica(40)" class="btn btn-primary btn-block">Ricarica 40.00 €</button>
        </div>
        <div class="col-md-4">
            <button (click)="ricarica(50)" class="btn btn-primary btn-block">Ricarica 50.00 €</button>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2>Scegli abbonamento</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <button (click)="abbonati('MENSILE')" class="btn btn-primary btn-block">Mensile</button>
        </div>
        <div class="col-md-4">
            <button (click)="abbonati('SEMESTRALE')" class="btn btn-primary btn-block">Semestrale</button>
        </div>
        <div class="col-md-4">
            <button (click)="abbonati('ANNUALE')" class="btn btn-primary btn-block">Annuale</button>
        </div>
    </div>
</div>